<div class="header-block">
    <span class="header-block__title-font-size">Schedule/Edit</span>
    <div class="header-block__buttons-align">
        <span>
      <button class="header-block__button" [disabled]="isUpdateEnable" (click)="updateSchedule()">Update</button></span>
        <span>
        <button class="header-block__exit-button" routerLink="/admin/schedule/list">Exit</button></span>
    </div>
</div>
<!-- <form  novalidate > -->
<div class="create-form__overflow" *ngIf="batchDetails">
    <div class="schedule-assessment-block">
        <div class="schedule-assessment-block__align">

            <span class="auto-complete-block__align">
          <span class="m-l-20">
            <label class="custom-label__font">Organization
            <input readonly  class="schedule-assessment-block__custom-input-field" [(ngModel)]="batchDetails?.attributes.orgName" type="text" />
          </label>
        </span>


            <span class="m-l-20">
              <label class="custom-label__font">Proctor template
              <input readonly  class="schedule-assessment-block__custom-input-field" [(ngModel)]="batchDetails?.attributes.proctor_tempName" type="text" />
            </label>
          </span>
            </span>

            <label class="custom-label__font">
          Batch Id
        <input readonly  class="schedule-assessment-block__custom-input-field" [(ngModel)]="batchDetails?.attributes.batchName" type="text" />
        <!-- <div class="input-field__error" *ngIf="validateFormField('batchName')">Required</div> -->
    </label>
            <label class="custom-label__font">
          Description
          <textarea readonly
            cols="62"
            rows="4"
            class="schedule-assessment-block__text-area-width"
            [(ngModel)]="batchDetails?.attributes.description"
          ></textarea>
          <!-- <div class="input-field__error">
            Required
          </div> -->
        </label>
            <label class="custom-label__font"> Schedule On </label>
            <div class="date-time-block__align">
                <span class="date-block">
            <mat-form-field appearance="fill" class="date-block__input">
              <mat-label>Select Date</mat-label>
              <input readonly
                matInput
                [max]="maxDate"
                [matDatepicker]="dp3"
                [(ngModel)]="scheduleStartDate"
              
              />
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="true"></mat-datepicker>
            </mat-form-field>
          </span>
                <span class="time-block">
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field
                [format]="12"
                [(ngModel)]="batchStartTime"
                disabled="true"
               
              ></ngx-timepicker-field>
            </div>
          </span>
            </div>

            <label class="custom-label__font"> Schedule End </label>
            <div class="date-time-block__align">
                <span class="date-block">
            <mat-form-field appearance="fill" class="date-block__input">
              <mat-label>Select Date</mat-label>
              <input
                matInput
                [matDatepicker]="dp5"
                [(ngModel)]="scheduleEndDate"
                [min]="minDate"
                (dateChange)="onEndDateChanged($event)"
              />
              <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
              <mat-datepicker #dp5 disabled="false"></mat-datepicker>
            </mat-form-field>
            
          </span>
                <span class="time-block">
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field 
              matInput
                [format]="12"
                [(ngModel)]="batchEndTime"
                (timeChanged)="onEndTimeChanged($event)"
                
              ></ngx-timepicker-field>
            </div>
          </span>
            </div>


            <div>
                <span class="schedule-block__align">
                <mat-checkbox (change)="isProctor($event)"  [(ngModel)]="is_proctor" class="example-margin"
                  >Is Proctor</mat-checkbox>
              </span>

                <span style="margin-left: 2em;" class="schedule-block__align">
                <mat-checkbox   [(ngModel)]="is_published" class="example-margin"
                  >Results publish</mat-checkbox>
              </span>
                <span style="margin-left: 2em;" class="schedule-block__align">
                <mat-checkbox disabled="true"  [(ngModel)]="send_Notification" class="example-margin"
                  >Send Notification</mat-checkbox>
              </span>
            </div>


            <div *ngIf="is_published">
                <label class="custom-label__font">Publish On </label>
                <div class="date-time-block__align">
                    <span class="date-block">
            <mat-form-field appearance="fill" class="date-block__input">
              <mat-label>Select Date</mat-label>
              <input
                matInput
                [matDatepicker]="dp4"
                [(ngModel)]="publishDate"
                [min]="minDate"
                (dateChange)="onpublishDateChanged($event)"
              />
              <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
              <mat-datepicker #dp4 disabled="false"></mat-datepicker>
            </mat-form-field>
            
          </span>
                    <span class="time-block">
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field 
              matInput
                [format]="12"
                [(ngModel)]="publishTime"
                (timeChanged)="onpublishTimeChanged($event)"
                
              ></ngx-timepicker-field>
            </div>
          </span>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- </div> -->
<!-- </form> -->