<div class="assessments">

    <div class="test">
        TEST NAME
    </div>
    <div class="testname">
        Video Interview
    </div>


    <div class="testInfo">
        Test Information
    </div>

    <div class="similarImg">
        <div class="container">
            <div class="wrapper">
                <span class="box"></span>
                <div>
                    <span class="userName">Sections</span>
                    <span class="nickName">1</span>
                </div>
            </div>

            <div class="wrapper">
                <span class="hand">
                </span>
                <div>
                    <span class="userName">No. Attempts</span>
                    <span class="nickName">1</span>
                </div>
            </div>


            <div class="wrapper">
                <span class="flov">
                </span>
                <div>
                    <span class="userName">Questions</span>
                    <span class="nickName">1</span>
                </div>
            </div>


            <div class="wrapper">
                <span class="round">
                </span>
                <div>
                    <span class="userName">Proctoing</span>
                    <span class="nickName">YES</span>
                </div>
            </div>


            <div class="wrapper">
                <span class="clock">
                </span>
                <div>
                    <span class="userName">Druation</span>
                    <span class="nickName">30 Mins</span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table>
            <tr>
                <th>Sections</th>
                <th>Questions</th>
                <th>Druation</th>
                <th>Marks</th>
            </tr>
            <tr>
                <td>Video Interview</td>
                <td>10</td>
                <td>15 min</td>
                <td>15</td>
            </tr>
        </table>
    </div>


    <div class="testInfo p-30">
        Test Instructions
    </div>

    <div class="desc">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo
            tempor consectetuer. Etiam vitae nisl. In dignissim lacus ut ante. Cras elit lectus,</p>
    </div>

    <div>
        <ul class="a">
            <li>Provide the best answer; then click <b>"Next"</b> to proceed to the next item. Click <b>"Previous"</b> to return to the previous item. </li>
            <li>You can change your answer selection at any time by returning to the item. </li>
            <li>Complete the test by answering each item before closing the window.</li>
            <li>After answering all of the items, click <b>"Submit"</b> to review your Test summary. </li>
            <li>If your assessment is timed, please note the clock in the upper right corner. It displays the remaining time. </li>
            <li>If your time elapses, your Test will be automatically submitted.</li>
        </ul>
    </div>

    <div>
        <div class="tacbox">
            <input id="checkbox" type="checkbox" />
            <label for="checkbox"> I have read and Agree to the Privacy Policy and proceed to the test.</label>
        </div>
    </div>


    <div class="m-t-10">
        <button class="btn" mat-button>Start Test</button>
    </div>

</div>