<!-- <div class="Videoassessments"> -->
<section class="container1">
    <div class="left-half">
        <div class="wrapword">
            <div class="qus">
                Questions
            </div>
            <!-- (click)="getTime(qus.questionDetails.duration,i,qusInfo.length,activequs);" *ngFor="let qus of qusInfo;let i=index" [ngClass]="{ blue : i == activequs}" -->
            <div>
                <div class="qusCard ">
                    <div class="qus-align blue" *ngFor="let qus of qusInfo;let i=index" [ngClass]="{ blue : i == activequs}">Q{{i + 1}}</div>
                </div>
            </div>
        </div>
    </div>


    <div class="right-half">
        <div class="wrapword">
            <div class="right-con">
                <!-- <div class="alert">
                    <mat-icon class="alert-color">info</mat-icon>
                    <span class="alertInfo">a video-based question, you will be presented with a question in video form and be given several minutes to respond to each question</span>
                </div> -->

                <!-- Questions duration -->
                <div class="sub-head">
                    <div>
                        <div class="qusCard">
                            <div class="qus-align" *ngIf="displayQus">{{displayQus}}</div>
                        </div>
                    </div>

                    <div class="flex-dir m-l-33">
                        <mat-icon class="clock-color">access_alarms</mat-icon><span class="time">Question duration : <b>{{qusTime}}  
                            <!-- <countdown #cd  (event)="handleEvent($event)" [config]="{ leftTime: timeLeft, demand: true, format: 'HH:mm:ss' }"></countdown> -->
                        </b></span>
                    </div>
                </div>

                <!--  Recording time -->
                <div class="wrapper">
                    <!-- <span style="color:#000">{{countdownStart}}{{timeLeft}}</span> -->
                    <div class="recordCount" *ngIf="!isStartbtn">
                        <div class="d-flex record-bx">
                            <span class="reddot"></span>
                            <span class="recordCount">
                                <countdown #cd class="timer"  (event)="handleEvent($event)" [config]="{ leftTime: timeLeft, demand: true, format: 'HH:mm:ss' }"></countdown>
                                <cd-timer style="display: none;"  class="timer" (onStart)="onStart($event)"
                                [startTime]="countdownStart" [endTime]="timeLeft"  (onComplete)="onComplete($event,activequs)"  format="hms"></cd-timer>
                            </span>
                        </div>
                    </div>

                    <div>
                        <iframe class="frame" style="border:none" src="../../../assets/templates/test.html" title="description" height="421" width="850"></iframe>
                    </div>
                    <div class="note">
                        <span>
                            <b>Note :</b> If you press next then you cannot able to attend previous question
                        </span>
                    </div>

                    <div class="playpause" *ngIf="isStartbtn">
                        <button class="btn" [disabled]="isStartEnable" mat-button (click)="startRecord(activequs,'start',true);"><mat-icon class="video-color" >videocam</mat-icon>Start Recording</button>
                    </div>
                </div>

                <div class="button-grid">
                    <!-- [disabled]="isNextBtn" -->
                    <!-- <button *ngIf="activequs > 0" class="btn-previous" mat-button (click)="previousQus(activequs,'previous')">Previous</button> -->
                    <button *ngIf="activequs != qusInfo.length -1" class="btn-next" mat-button (click)="nextQus(activequs,'next')">Next</button>
                    <button *ngIf="activequs == qusInfo.length -1" class="btn-next" mat-button (click)="onSubmit(activequs,'submit')">Submit</button>
                    <!-- <button *ngIf="activequs != qusInfo.length -1" class="btn-skip" mat-button (click)="nextQus(activequs,'skip')">Skip</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </div> -->

<ng-template #matDialog1>
    <div class="tick">
        <mat-icon class="f-50">check_circle</mat-icon>
    </div>

    <h1 mat-dialog-title class="center">Thank you for taking video assessment</h1>
    <div mat-dialog-content>
        <p class="center color">HR will contact you for next process.</p>
    </div>
    <div mat-dialog-actions>
        <button class="close" mat-button mat-dialog-close (click)="navToLanding()">Close</button>
    </div>
</ng-template>