$uap-yellow: #ffcb00;
$uap-yellow-light: #f0e3b5;
$uap-pampas: #f2f0e8;
$uap-grey: #898989;
$uap-red: #c02222;
$uap-blue: #004c86;
$uap-black: #1f1a17;
$uap-red-hover: #e22c38;
$uap-nav-grey: #3a3f45;
$uap-label-grey: #3f444a;
$uap-light-blue: #32c5d2;
$uap-button-grey: #96999b;
$che-theia-menu: #3c3c3c;
$uap-mine-shaft: #333333;
$uap-la-palma: #149110;
$uap-boulder: #cecece;
$uap-crimson: #d71116;
$uap-malachite: #22d234;
$uap-white: #fff;
$uap-black: #000;
$uap-cod-gray: #151515;
$uap-mischka: #dfe1e6;
$white: #ffff;
$uap-lapalma: #149110;
$uap-grey-light: #f9f5f5;
$uap-buddha-gold: #cc9f01;
$uap-nando: #039111;
$uap-caper: #d6e8b7;
$uap-venus: #918d90;
$uap-monza: #d10016;
$uap-btn:#be2020;
$uap-alto: #d7d7d7;
$uap-sunglo: #e46e78;
$uap-pampas1: #f2f0ea;
$uap-cotton-seed: #bfbdb7;
$uap-buddha-gold-1: #cc9f00;
$uap-rt-header: #484d54;
$uap-rt-row: #f4f4f4;
$silver-chalice: #a9a9a9;
$uap-alabaster:#fafafa;
$uap-label:#797979;
$uap-checkmark-green: #74BB68;
$uap-light-black: #666666;
$uap-btnshadow:0 2px 5px 0 #00000024, 0 2px 10px 0 #00000017;
