@import 'colors';
.headerShadow {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2) !important;
}

.hearder-logo {
    height: 36px;
}

.limiter {
    height: 100vh;
    // background-color: $uap-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://assets.lntedutech.com/EntryBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
    @media only screen and (min-width: 568px) {
        padding: 2em;
    }
    @media only screen and (min-width: 720px) {
        padding: 3em;
    }
    @media only screen and (min-width: 1140px) {
        padding: 4em;
    }
}

.container-reg200 {
    height: 100%;
}

:host ::ng-deep .container-reg200 {
    padding-top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    background-color: $uap-white;
    flex-direction: column;
    @media only screen and (min-width: 767px) {
        flex-direction: row;
    }
    @media only screen and (min-width: 1440px) {
        // max-width: 1200px;
        margin: 0 auto;
    }
}

.igniteLogo {
    width: 100%;
    @media only screen and (min-width: 767px) {
        width: 62%;
    }
}

.border-right {
    border-right: 1px solid #ececec;
}

.beforeloginimg {
    width: 100%;
    height: auto;
    padding: 10px;
    @media only screen and (min-width: 767px) {
        height: 50vh;
    }
}

.main-logo {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.loginWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 767px) {
        width: 35%;
    }
    .signIn {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $uap-grey;
        text-align: center;
    }
    form {
        width: 100%;
        padding: 1em 4em;
    }
}

.space-20 {
    margin-top: 15px;
}

.center {
    text-align: center;
}

.btn {
    font-size: 16px;
    background: $uap-crimson !important;
    color: $uap-white;
    border-radius: 50px !important;
    width: 54%;
    height: 45px;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 10%;
}

:host ::ng-deep .btn.disabled,
.btn:disabled {
    opacity: .35 !important;
    background-color: gray !important;
    pointer-events: none;
    color: $uap-white !important;
    border-radius: .25rem;
    font-size: 16px;
}

#footer {
    font-size: 13px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    @media only screen and (min-width: 568px) {
        padding: 0 2em;
    }
    @media only screen and (min-width: 720px) {
        padding: 0 3em;
    }
    @media only screen and (min-width: 1140px) {
        padding: 0 4.5em;
    }
    .forgot1 {
        color: $uap-button-grey;
    }
    .message {
        color: #1b4e9b;
    }    
}

.mat-toolbar {
    background: linear-gradient(90deg, #fff 15%, #fc0 25%) !important;
    color: $uap-black;
    position: absolute;
    z-index: 4;
    height: 60px !important;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #C02222 !important;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
}

:host ::ng-deep {
    mat-form-field {
        width: 100%;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: $uap-crimson !important;
    }
    mat-error {
        font-size: 0.9em;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: $uap-crimson !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgba(0, 0, 0, .12);
    }
    .mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
        color: #d2d1d1;
        background: #C02222 !important;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%) !important;
    }
    mat-label,
    mat-icon {
        color: $uap-grey;
    }
    .tacbox {
        display: block;
        padding: 1em;
        border: 3px solid #ddd;
        background-color: #eee;
        max-width: 800px;
    }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    margin-right: auto;
    .align-items-stretch {
        align-items: stretch!important;
    }
    .d-flex {
        display: flex!important;
    }
    .icon_bg {
        font-size: 41px;
        padding: 0;
        margin-right: 15px;
        border-radius: 50px;
        width: 35px;
        height: 35px;
        text-align: center;
        margin-top: 4px;
    }
    .description {
        margin: 14px 0 8px 0;
        font-size: 12px;
        display: contents;
    }
    .btn-get-started {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 10px;
        white-space: nowrap;
        letter-spacing: 1px;
        display: inline-block;
        padding: 5px 16px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: #1b4e9b;
        margin-top: 10px;
        text-decoration: none;
    }
    .mail {
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        color: #1b4e9b;
        white-space: nowrap;
    }
    .mb-lg-0 {
        margin-bottom: 0!important;
    }
    .m-all {
        margin: 10px;
    }
}

.box-border {
    border: 1px solid #ccc;
    border-style: dotted;
    margin-right: 0px;
    padding: 0px;
    background: #16bef012;
}

.box {
    width: 65%;
    height: auto;
    // height: 47px;
    // bottom: 0;
    position: relative;
    // position: fixed;
    // background: linear-gradient(to right, #00b0ed 0%, #53aa34 100%);
}

.link {
    color: #1b4e9b !important;
    text-decoration: none;
}

.m-t-7 {
    margin-top: 7%;
}

.space-between {
    justify-content: space-between;
}