<div class="assessments" *ngIf="assessmentTasksList">

    <div class="assessment-list" *ngFor="let task of assessmentTasksList; let i = index" [ngClass]="taskStatus[i]">
        <div *ngIf="taskStatus[i] == 'completed'" class="tickMark">&#160;</div>
        <div class="leftborder">
            <div class="assessment-list__number" [ngClass]="{ 'apicon' : task.taskType == 'Aptitude',  'video' : task.taskType == 'Video' ,'cdicon' : task.taskType == 'Coding', 'english' : task.taskType == 'English', 'psych' : task.taskType.includes('Behaviour')}">
                <!-- <span *ngIf="task.status !== 'completed'; else notCompleted">{{ i + 1 }}</span> -->
                <ng-template #notCompleted><span class="material-icons">done</span></ng-template>
            </div>
        </div>
        <div class="assessment-list__card">
            <div class="assessment">
                <h3 [matTooltip]="task.taskName && task.taskName.length > 43 ? task.taskName : ''" matTooltipClass="tooltip" class="assessment__name">{{ isEclipsisNeeded(task.taskName) }}</h3>
                <div class="assessment__duration">
                    <span class="dura"><img src="../../../../assets/test.svg" />  {{ task.taskType.includes('Behaviour') ? 'Personality & Behaviour' : task.taskType }} </span>
                    <span *ngIf="!task.taskType.includes('Behaviour')" class="dura"> <img src="../../../../assets/watch.svg" /> {{ taskDuration[i] }} </span>
                </div>
                <div class="assessment__duration duration">
                    <span><img src="../../../../assets/calendar.svg" /></span>
                    <div>
                        <span>{{getTime(this.startTime1) + ' (IST)'}}</span>
                        <!-- <span>06/09/2021 10:00:00 AM</span> -->
                    </div>
                </div>
            </div>
            <div class="assessment-actions">
                <!-- [matTooltip]="getTooltipMessage(task)" -->
                <ng-template #show>
                    <button matTooltipClass="tooltip" mat-flat-button [disabled]="isTaskStarted[i] || !canTakeAssessment" [ngClass]="getIsTimeOutStatus(task, taskStatus[i]) ? 'disableButton' : ''" (click)="getIsTimeOutStatus(task, taskStatus[i]) ? '' : navigateToTask(task.id,task.taskType,task)">
                    <div class="action_start" *ngIf="taskStatus[i] === 'yettostart'">
                        <span *ngIf="!showTaskStartsOn[i]">{{getIsTimeOutStatus(task, taskStatus[i]) ? 'Time Expired' : 'Start'}}</span>
                        <div *ngIf="showTaskStartsOn[i] && !taskStartTime[i].showCountdown" class="action_start">
                            <span>Starts on</span>
                            <span>{{ taskStartTime[i].startOn }}</span>
                        </div>
                    </div>
                    <span *ngIf="taskStatus[i] === 'inprogress'">{{getIsTimeOutStatus(task, taskStatus[i]) ? 'Time Expired' : 'Resume'}}</span>
                    <span *ngIf="taskStatus[i] === 'completed'">Completed</span>
                </button>
                </ng-template>

                <div *ngIf="showTaskStartsOn[i] && taskStartTime[i].showCountdown else show" class="action_start">
                    <span>Starts in </span>
                    <countdown [config]="taskStartTime[i].countdown" (event)="countdownchange($event, i)"></countdown>
                </div>
            </div>
        </div>
    </div>
    <div class="clr_"></div>
</div>