<div class="assessments" *ngIf="assessmentTasksList">

    <div class="assessment-list" *ngFor="let task of assessmentTasksList; let i = index" [ngClass]="taskStatus[i]">
        <div *ngIf="taskStatus[i] == 'completed'" class="tickMark">&#160;</div>
        <div class="assessment-list__number" [ngClass]="{ 'apicon' : task.taskType == 'Aptitude', 'cdicon' : task.taskType == 'Coding', 'english' : task.taskType == 'English'}">
            <!-- <span *ngIf="task.status !== 'completed'; else notCompleted">{{ i + 1 }}</span> -->
            <ng-template #notCompleted><span class="material-icons">done</span></ng-template>
        </div>
        <div class="assessment-list__card">
            <div class="assessment">
                <h3 [matTooltip]="task.taskName && task.taskName.length > 26 ? task.taskName : ''" matTooltipClass="tooltip" class="assessment__name">{{ isEclipsisNeeded(task.taskName) }}</h3>
                <div class="assessment__duration">
                     {{ taskDuration[i] }} <span>|</span> {{ task.taskType }}
                </div>
            </div>
            <div class="assessment-actions">
                <!-- [matTooltip]="getTooltipMessage(task)" -->
                <button matTooltipClass="tooltip" mat-flat-button [disabled]="isTaskStarted[i] || !canTakeAssessment" [ngClass]="getIsTimeOutStatus(task, taskStatus[i]) ? 'disableButton' : ''" (click)="getIsTimeOutStatus(task, taskStatus[i]) ? '' : navigateToTask(task.id)">
                    <div class="action_start" *ngIf="taskStatus[i] === 'yettostart'">
                        <span *ngIf="!showTaskStartsOn[i]">{{getIsTimeOutStatus(task, taskStatus[i]) ? 'Time Expired' : 'Start'}}</span>
                        <div *ngIf="showTaskStartsOn[i] && taskStartTime[i].showCountdown" class="action_start">
                            <span>Starts in</span>
                            <countdown [config]="taskStartTime[i].countdown" (event)="countdownchange($event, i)"></countdown>
                        </div>
                        <div *ngIf="showTaskStartsOn[i] && !taskStartTime[i].showCountdown" class="action_start">
                            <span>Starts on</span>
                            <span>{{ taskStartTime[i].startOn }}</span>
                        </div>
                    </div>
                    <span *ngIf="taskStatus[i] === 'inprogress'">{{getIsTimeOutStatus(task, taskStatus[i]) ? 'Time Expired' : 'Resume'}}</span>
                    <span *ngIf="taskStatus[i] === 'completed'">Done</span>
                </button>
            </div>
        </div>
    </div>
<div class="clr_"></div>
</div>
