<div class="assessments" *ngIf="assessmentTasksList">
    <div class="assessment-list" *ngFor="let task of assessmentTasksList; let i = index" [ngClass]="taskStatus[i]">
        <div class="assessment-list__number">
            <span *ngIf="task.status !== 'completed'; else notCompleted">{{ i + 1 }}</span>
            <ng-template #notCompleted><span class="material-icons">done</span></ng-template>
        </div>
        <div class="assessment-list__card">
            <div class="assessment">
                <h3 class="assessment__name">{{ task.taskName }}</h3>
                <div class="assessmnet__duration">
                    <span class="material-icons">hourglass_top</span> {{ taskDuration[i] }} | {{ task.taskType }}
                </div>
            </div>
            <div class="assessment-actions">
                <button mat-flat-button [disabled]="isTaskStarted[i] || !canTakeAssessment" (click)="navigateToTask(task.id)">
                    <div class="action_start" *ngIf="taskStatus[i] === 'yettostart'">
                        <span *ngIf="!showTaskStartsOn[i]">Start</span>
                        <div *ngIf="showTaskStartsOn[i] && taskStartTime[i].showCountdown" class="action_start">
                            <span>Starts in</span>
                            <countdown [config]="taskStartTime[i].countdown" (event)="countdownchange($event, i)"></countdown>
                        </div>
                        <div *ngIf="showTaskStartsOn[i] && !taskStartTime[i].showCountdown" class="action_start">
                            <span>Starts on</span>
                            <span>{{ taskStartTime[i].startOn }}</span>
                        </div>
                    </div>
                    <span *ngIf="taskStatus[i] === 'inprogress'">Resume</span>
                    <span *ngIf="taskStatus[i] === 'completed'">Done</span>
                </button>
            </div>
        </div>
    </div>
</div>
