<div class="navbar">
    <div class="navbar-block">
        <a routerLink="/">
            <img alt="iGGnite Logo" class="navbar-img__resize" [src]="dynamicLogo" ng-reflect-router-link="/" />
        </a>
        <span class="user_info">Hello, {{ userDetails ? userDetails.attributes.firstName : '' }} {{userDetails ? userDetails.attributes.lastName : ''}}</span>
        <span class="material-icons" [matMenuTriggerFor]="menu">account_circle</span>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigateToProfile()">Profile</button>
            <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</div>