@import 'index';
.flex_ai_center {
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    z-index: 4;
    position: fixed;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 15%);
    height: 65px;
    background:linear-gradient(to right, #fff 14%, #fc0 25%) !important ;
    @extend .flex_ai_center;
    &-block {
        // max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        @extend .flex_ai_center;
        justify-content: space-between;
        max-width: 100%;
        
       
        a{
            padding-left: 10px;
        }
    }
}

.navbar-img__resize {
    /* width: 100%; */
    width: 118px;
    /* height: 35px; */
    margin-top: 8px;
}

.user_info {
    display: inline-block;
    margin: 0.4em 20px 0 auto;
    font-size: 1.1em;
}

.material-icons {
    font-size: 35px;
    color: $uap-grey;
    cursor: pointer;
    margin: 0.2em 20px 0 0;
    background: url(../../../assets/user.svg) no-repeat;
    background-color: #ececec;
    color: transparent;
    border-radius: 25px;
    background-size: 50%;
    background-position: 50% 42%;
}