.reports-wrapper {
    position: relative;
    padding: 4px 1em;
    margin-left: 1.25em;
    box-sizing: border-box;
    width: 97%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    box-shadow: 2px 2px 5px #0000001A;
    margin-right: 1.25em;
    .upload {
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        margin-top: 65px;
    }
    .btn {
        background: #be2020;
        color: #fff;
        text-align: center;
        width: 100px;
        margin-left: 39%;
        padding: 4px;
    }
    .front {
        margin: 10px;
        font-weight: 500;
    }
}

::ng-deep .ngx-file-drop__drop-zone {
    border: 2px dotted #999999 !important;
    border-radius: 5px !important;
    height: 200px !important;
    width: 500px !important;
    margin: auto;
}