@import 'index';
.main {   
    background: $white;
    min-height: 100vh;
    .landing-padding_all {
        padding: 70px 0 0;
        width: 100%;
    }
}

.welcome {
    font: normal 18px/1.3 $uap-roboto-condensed;
    color: $uap-black;
    &__heading {
        margin-bottom: 20px;
        color: $uap-red;
        font-weight: bold;
        font-size: 20px;
    }
}

.user-details {
    width: 100%;
    padding-top: 40px;
    .name-field {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .form-field {
            position: relative;
            label {
                display: flex;
                flex-direction: column;
            }
            &:first-child {
                padding-right: 40px;
            }
            &__error {
                color: $uap-red;
                font-size: 14px;
                position: absolute;
                top: 80px
            }
        }
    }
    .consent {
        font-size: 16px;
        padding-top: 20px;
        .terms_red {
            text-decoration: none;
            color: $uap-red;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $uap-roboto-condensed;
            cursor: pointer;
        }
    }
}

.assessment-summary { 
    font: bold 18px/1.2 $uap-roboto-condensed;
    position: relative;
    .header_info {
        background-color: $uap-yellow;
    }
    ._htxt { 
        
        max-width: 1200px;
        margin: 0 auto;
        padding: 2.5em 2em 1em 2em;
        margin-bottom: 3.2em;
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        grid-template-areas:
            'heading button'
            'text_ button';
    }

    .back_{ 
        width: 125px;
        border-radius: 1.5em;
        color: $uap-grey;
        border: 1px solid $uap-buddha-gold-1;
        outline: none;
        padding: 0.5em 1.3em;
        margin-left: 2.5em;
        box-shadow:  $uap-btnshadow;
        height: 37px;
        font-size: 0.8em;
        cursor: pointer;
        img {
            width: 16px;
            float: left;
            margin-left: 1em;
        }
    }

    &__heading {
        font-size: 20px;
        padding-bottom: 15px;
        grid-area: heading;
        font-weight: 500;
        font-size: 1.5em;
    }
    &__text {
        padding-bottom: 20px;
        font-weight: normal;
        color: $uap-label-grey;
        grid-area: text_;
    }
    &__message {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -65px;
        text-align: center;
        background-color: $white;
        padding: 15px;
        width: 50%;
        margin: 0 auto;
        border-radius: 5px;
        border: 1px solid #b0b0b066;
        border-left: 5px solid $uap-lapalma;
        box-shadow: 1px 1px 1px #b0b0b087;
        .thank_you {
            color: $uap-red;
        }
    }
}

.mat-checkbox {
    font-family: $uap-roboto-condensed;
}

.mat-checkbox-label {
    white-space: normal;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0;
}

.mat-checkbox-layout .mat-checkbox-inner-container {
    margin-top: 3px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $uap-red;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $uap-red;
}
